<head>
    <title>Home</title>
</head>

<body>
    <header style="font-size:25px">Online Banking System</header>
    <form action="../add/" method="POST" style="text-align : center ;">
    {% csrf_token %}
        <h3>Register</h3>
        Name : <input type="text" name="name" placeholder="name"><br> account : <input type="text" name="account" placeholder="enter your acount no"><br>balance : <input type="text" name="balance" placeholder="balance"><br> address : <input type="text"
            name="address" placeholder="address"><br/>
        <input type="submit">
        <br>
{% if message %}
    <h3>{{ message }}</h3>
{% endif %}
    

    </form>
    <br><br><a href='../' > Back</a> <br>
</body>

</html>